*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 0px 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
nav ul li a:hover{
    color: #ff5ea2;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    /* come check this */
    position: relative;
    /* come check this */
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4 {
    margin: 30px 0px;
    font-size: 20px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button img{
    width: 30px;
    display: none;
}
button:hover img{
    display: block ;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute; 
    /* come check this */
    left: -40px;
    /* come check this */
    top: 8px;
    /* come check this */
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .controller{
    width: 90%;
}
.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff52a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    /* come check this */
    transform: translateX(150px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-btn img{
    width: 35px;
    margin-bottom: 5px;
}

.add-btn{
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding-left: 180px;
}
.social-links img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}
.social-links {
    text-align: center;
}